@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
	/* Modular Scale */
	--ratio: 1.618;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));

	--color-light: #fff;
	--color-dark: #000;
	--color-contrast: #9f9f9f;
	--background-light: #edf0f3;
	--background-dark: #0e0915;

	--border-thin: 0.25ch;
	--box-rounded: 1ch;
	--nav-height: 4rem;
	--sidebar-width: 12rem;
	--input-height-narrow: 3.5ch;

	--icon-inactive: #a7a7a7;
	--btn-color-add: #1ab82a;
	--btn-color-clear: #d0d25c;
	--btn-color-delete: #d13c1b;

	--gap-narrow: .27ch;
	--measure: 70ch;

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: var(--background-light);
}

#app {
	height: 100%;
	display: flex;
	flex-flow: column;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	opacity: 80%;
}

p {
	opacity: 80%;
	font-size: 0.9em;
}

/* Web Component Styles */
switcher-l {
	display: flex;
	flex-wrap: wrap;
}

switcher-l>* {
	flex-basis: calc((var(--measure) - 100%) * 999);
	flex-grow: 1;
}

sidebar-l {
	display: flex;
	flex-wrap: wrap;
}

stack-l {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

stack-l>*+* {
	margin-block-start: var(--s1);
}

box-l {
	display: block;
	padding: var(--s1);
	border-width: var(--border-thin);
	outline: var(--border-thin) solid transparent;
	outline-offset: calc(var(--border-thin) * -1);
	background-color: var(--color-light) !important;
}

center-l {
	--center: 60ch;
	display: block;
	box-sizing: content-box;
	margin-inline: auto;
	max-inline-size: var(--measure);
}

sidebar-l.body-wrapper {
	height: 100%;
	display: flex;
}

sidebar-l.body-wrapper>*:last-child {
	margin-inline-end: var(--s1);
	margin-block: var(--s1);
}

stack-l.side-nav>* {
	flex-grow: 1;
}

cluster-l {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

icon-l svg {
	height: 0.75em;
	height: 1cap;
	width: 0.75em;
	width: 1cap;
}

.small {
	font-size: 0.75em;
}

.big {
	font-size: 1.25em;
}

/* Utility Classes */
.sidebar-style\:main {
	height: calc(100% - var(--nav-height) - .8ch);
	margin-block-start: var(--border-thin)
}

.stack-style\:nav-drawer>* {
	flex-grow: 1;
}

.stack-style\:nav-drawer>*:first-child {
	width: var(--sidebar-width);
}

.stack-style\:widget-container {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.stack-style\:widget-container>*+* {
	flex-grow: 1;
}

.box-style\:nav {
	height: var(--nav-height);
}

.box-style\:content {
	padding-block: 0 !important;
}

.scroll\:auto {
	height: 100%;
	overflow-y: auto;
}

.block-padding\:none {
	padding-block: 0;
}

.opacity\:half {
	opacity: 50%;
}

.narrow-input {
	height: var(--input-height-narrow);
	border: none;
	background: var(--background-light);
	border-radius: .75ch;
	padding-inline-start: var(--s0);
}

.narrow-input:focus,
.narrow-input:active,
.step-input:focus,
.step-input:active {
	outline: none;
}

.narrow-input:focus::placeholder,
.narrow-input:active::placeholder,
.step-input:focus::placeholder {
	color: transparent;
}

.step-input {
	flex-grow: 1;
	height: var(--s4);
	border: none;
	background: var(--background-light);
	border-radius: .75ch;
	resize: vertical;
	margin-block-end: var(--s0);
	padding: var(--s-1);
}

.rounded-container>* {
	border-radius: var(--box-rounded)
}

.fade-all>* {
	opacity: 80%;
}

.step-entry\:open {
	padding-inline: var(--s1);
	display: flex;
	flex-flow: column;
	border-block-end: var(--border-thin) solid var(--background-light);
	margin-block-end: var(--s1)
}

.step-entry\:edit {
	border-block-start: var(--border-thin) solid var(--background-light);
}

.step-entry\:closed {
	padding-inline: var(--s1);
}

.step-header {
	display: flex;
	align-items: center;
	margin-block: var(--s-5)
}

.step-button-group {
	display: flex;
	flex-grow: 1;
	gap: var(--s-1);
}

.step-button-group {
	max-height: 3ch;
}

.step-button-group>button:first-of-type {
	margin-inline-start: auto;
}

.step-button-group>button:last-of-type {
	margin-inline-end: var(--s-4);
}

.step-button-add {
	background: #fff;
	border-color: var(--btn-color-add);
	color: var(--btn-color-add);
	border-radius: .75ch;
	font-size: 1.1em;
	padding-inline: var(--s0)
}

.step-button-clear {
	background: #fff;
	border-color: var(--btn-color-clear);
	color: var(--btn-color-clear);
	border-radius: .75ch;
	font-size: 1.1em;
	padding-inline: var(--s0)
}

.step-button-delete {
	background: #fff;
	border-color: var(--btn-color-delete);
	color: var(--btn-color-delete);
	border-radius: .75ch;
	font-size: 1.1em;
	padding-inline: var(--s0)
}

.nav-drawer > p {
	display: flex;
	align-items: center;
}

.nav-drawer > p + p {
	margin-block-start: 0;
}

.nav-drawer > p > icon-l {
	font-size: 2em;
	padding-inline-end: var(--s-2);
}

/* ID Styles */
#nav-drawer-container {
	height: 100%;
	display: flex;
}

#body-content-container {
	height: calc(100% - var(--s1) * 2);
	margin: var(--s1);
}

#body-content-container>* {
	height: 100%;
}

#timer-container {
	height: 100%;
	padding-block: 0;
	overflow: hidden;
	padding-inline: 0;
	border-radius: var(--box-rounded);
}

#timer-container>* {
	height: 100%;
}

#search-container {
	flex: 0 1 18rem;
	display: flex;
	background-color: var(--background-light);
	height: 2.75ch;
	border-radius: .75ch;
	padding-inline-start: var(--s-2);
	padding-block-start: var(--s-5);
}

#search-container>input {
	flex-grow: 1;
	padding-inline-start: var(--s-4);
	height: auto;
}

#search-container>button {
	width: 8ch;
	border: var(--s-5) solid var(--background-light);
	border-top: none;
	background-color: #fff;
	border-radius: 0 .75ch .75ch 0;
}

#search-container>button:hover {
	cursor: pointer;
}

#action-bar {
	display: flex;
	height: 100%;
	align-items: center;
	flex-grow: 1;
	overflow-x: auto;
}

#action-bar>div:first-of-type {
	border-inline-end: var(--border-thin) solid var(--background-light);
}

#action-bar>input {
	flex-grow: 1;
	margin-inline-start: var(--s0);
	margin-inline-end: var(--s-3);
}

#step-container {
    flex-grow: 1
}

#step-action-bar {
	display: flex;
	flex-flow: column;
	padding-inline: var(--s1);
	border-bottom: var(--border-thin) solid var(--background-light);
	padding-block-end: var(--s1);
}

#step-action-bar>h1 {
	margin-block-end: var(--s-1)
}